<div id= "show">
  <div id= "show_body">
    <p id="notice"><%= notice %></p>

    <p class="show_details">
      <b>Name:</b>
      <%= @attendence_entry.student %>
    </p>

    <p class="show_details">
      <b>Year:</b>
      <%= @attendence_entry.year %>
    </p>

    <p class="show_details">
      <b>Month:</b>
      <%= @attendence_entry.month %>
    </p>

    <p class="show_details">
      <b>Day:</b>
      <%= @attendence_entry.day %>
    </p>

    <p class="show_details">
      <b>Present/Absent:</b>
      <%= @attendence_entry.present %>
    </p>
  </div>


  <%= link_to 'Edit', edit_attendence_entry_path(@attendence_entry) %> |
  <%= link_to 'Back', attendence_entries_path %>
</div>
